@use '@/assets/styles/vars.scss' as *;

.header {
    width: 100%;
    background-color: $color-white;

    &__top-bar-section {
        width: 100%;
        border-bottom: 1px solid $color-gray-100;
        font-family: $font-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        color: $color-gray-600;
    }

    &__top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1320px;
        margin: 0 auto;
        padding: 12px 0;
    }
    
    &__location {
        display: flex;
        align-items: center;
        gap: 8px;
        font-family: $font-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        color: $color-gray-600;
        transition: color 0.3s ease;

        &:hover {
            color: $color-black;
            cursor: pointer;
        }
    }

    &__location-icon {
        width: 15px;
        height: 18px;
    }

    &__top-bar-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__select-wrapper {
        position: relative;
    }

    &__select {
        display: block;
        padding: 0 16px 0 0;
        font-family: $font-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        color: $color-gray-600;
        background-image: url("@/assets/images/arrow-select.svg");
        background-repeat: no-repeat;
        background-position: right center;
        border: 0;
        outline: none;
        cursor: pointer;
        appearance: none;

        option {
            background-color: $color-white;
            color: $color-gray-600;
        }
    }

    &__select-arrow {
        position: absolute;
        width: 7px;
        height: 4px;
    }

    &__sign-links {
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    &__sign-link {
        font-family: $font-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        color: $color-gray-600;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: $color-black;
            cursor: pointer;
        }
    }

    &__auth-separator {
        margin: 0 4px;
    }
}
