@use '@/assets/styles/vars.scss' as *;

.basket {
    display: flex;
    align-items: center;

    &__button {
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: transparent;
        border: none;
    }

    &__icon-wrapper {
        position: relative;
        display: flex;
        cursor: pointer;
    }

    &__icon {
        width: 34px;
        height: 34px;
    }

    &__badge {
        position: absolute;
        top: -8px;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        padding: 0 4px;
        font-family: $font-primary;
        font-size: $font-size-xxs;
        font-weight: $font-weight-medium;
        color: $color-white;
        background-color: $color-green-dark;
        border-radius: 50%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }

    &__text {
        font-family: $font-primary;
        font-size: $font-size-xs;
        font-weight: $font-weight-regular;
        color: $color-gray-500;
    }

    &__total {
        font-family: $font-primary;
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $color-black;
    }
}
