@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 20px;
$font-size-heading: 32px;
$font-size-heading-big: 48px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-gray-40: #FFFFFF;
$color-gray-50: #F2F2F2;
$color-gray-100: #E6E6E6;
$color-gray-200: #CCCCCC;
$color-gray-400: #999999;
$color-gray-500: #808080;
$color-gray-600: #666666;
$color-gray-700: #4D4D4D;
$color-gray-800: #333333;
$color-gray-900: #1A1A1A;
$color-gray-950: #000000;
$color-green-50: #EDF2EE;
$color-green-400: #84D187;
$color-green-500: #00B207;
$color-green-600: #2C742F;
$color-orange-500: #FF8A00;
$color-orange-900: #EA4B48;
$shadow-card: 0 4px 12px rgba(32, 181, 38, 0.32);
$shadow-review: 0 4px 12px rgba(0, 0, 0, 0.01);