@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font-primary: 'Poppins', sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$color-white: #FFFFFF;
$color-black: #000000;
$color-gray-100: #E6E6E6;
$color-gray-200: #CCCCCC;
$color-gray-500: #808080;
$color-gray-600: #666666;
